.LoginContent {
    width: 100%;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    background-color: #f8f8fa;
}

.LoginMain {
    width: 60%;
    margin: 0 auto;
}

.LoginForm {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 8px;;
}


.LoginHeader p {
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: #d1f3ff;
}


.LoginFormMain {
    padding: 15px 15px 15px 15px;
}

.LoginFormMain h2 {
    margin-bottom: 3rem;
    color: #5b626b;
    font-family: Roboto, sans-serif;
}

.FormLogin {
    text-align: left;
    margin-bottom: 1rem;
}

.FormLogin label {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #5b626b;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    margin-bottom: .5rem;
    margin-left: 10px;

}

.FormLogin input {
    display: block;
    text-align: start;
    width: 90%;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Roboto, sans-serif;
    margin: auto;
}

.FormPassword {
    margin-bottom: 1rem;
    text-align: left;

}

.FormPassword label {
    display: inline-block;
    font-weight: 600;
    margin-bottom: .5rem;
    line-height: 1.5;
    color: #5b626b;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    margin-left: 10px;
}

.FormPassword input {
    display: block;
    text-align: start;
    width: 90%;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Roboto, sans-serif;
    margin: auto;
}


.Formbutton button {
    font-weight: 400;
    cursor: pointer;
    min-width: 150px;
    color: #fff;
    background-color: #ffb800;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ffb800;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-top: 3rem;
}

.required {
    color: red;
}

@media (max-width: 1990px) and (min-width: 770px) {
    .LoginForm {
        width: 513px;
    }

    .LoginHeader {
        width: 513px;
    }
}

@media (max-width: 770px) and (min-width: 600px) {
    .LoginForm {
        width: 400px;
    }

    .LoginHeader {
        width: 400px;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .LoginForm {
        width: 350px;
    }

    .LoginHeader {
        width: 350px;
    }
}

@media (max-width: 500px) and (min-width: 400px) {
    .LoginForm {
        width: 320px;
        padding: 5px 25px 35px;

    }

    .LoginHeader {
        width: 320px;
    }
}

@media (max-width: 400px) and (min-width: 300px) {
    .LoginForm {
        width: 280px;
        padding: 5px 10px 15px;
        margin-left: -20px;

    }

    .LoginHeader {
        width: 280px;
        margin-left: -20px;

    }
}