.ItemContent {
    width: 100%;
    background-color: #f8f8fa;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
.ItemMain{
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 8px;
    padding: 1.5rem 3rem 4rem 4rem ;
}


.ItemMain hr{
    background-color: #c7c7c7;
    height: 0.5px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.Columns{
    display: flex;
}
.ItemImg{
    flex: 1;
}
.ItemTxt{
    flex: 2;

}
.ItemTxt p, h3{
    width: 80%;
    margin-top: 0;

}
.ItemImg img{
    width: 90%;
}
.ItemSpecific select{
    width: 300px;
padding: 5px;
}
.ItemSpecific h4{
    margin-bottom: 0;
}
.ItemSpecific p{
    display:inline-block;
    margin-top: 0.5em;

}
.btn{
    width: 50%;
}
.ItemSpecific button{
    font-weight: 400;
    cursor: pointer;
    min-width: 150px;
    color: #fff;
    background-color: #ffb800;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ffb800;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
float: right;
}

