.alert{
    position: absolute;
    color: #ffb800;
    z-index: 0;
    background: #fff;
    transition: all .2s linear;
    padding: 5px 9px;
    border-radius: 4px;
    font-size: 13px;
    height: 45px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}