.alert{
    position: absolute;
    z-index: 0;
    background: #fff;
    border: 2px solid
    #ffb800;
    transition: all .2s linear;
    padding: 5px 9px;
    border-radius: 4px;
    font-size: 13px;
    height: 45px;
    width: 200px;
    margin-left: 800px;
    text-align: center;
}