.productPhoto img{
    width: 30px;
}
.sendBlock{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "checkout remove"

}
.checkout{
    margin-left: 20px;
    grid-area: checkout
}
.removeGoods{
    grid-area: remove
}